.registration-content {
    width: 400px;
    margin-top: 60px;
  }
  
  .registration-button {
    width: 100%;
  }
  
  .registration-logo {
    margin-bottom: 20px;
    width: 118px;
  }
  
  .registration-page {
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
  }
  
  @media only screen and (max-width: 540px) {
    .registration-content {
      width: 70%;
    }
  }
  